h1 {
	font-family: Arial;
}
.textos {
	background-color: white;
	color: white;
	padding: 7px;
	border: 0.5px solid rgb(201, 201, 201);
	border-radius: 3%;
	width: 200px;
	color: black;
}
#envio {
	background-color: darkcyan;
	color: white;
	padding: 10px;
	border: 0.5px solid rgb(0, 255, 255);
	border-radius: 10%;
}
